#follow-babies {
    padding: 5em 0;
    border-bottom: 1px solid #000;
}

#follow-babies h2 {
    font-family: 'Happy Monkey';
    color: #89cff0;
    font-weight: 900;
}

#follow-babies p {
    padding: 0 8em;
}

@media (max-width: 1399px) {
    #follow-babies p {
        padding: 0 6em;
    }
}

@media (max-width: 1199px) {
    #follow-babies p {
        padding: 0 2em;
    }
}

@media (max-width: 991px) {
    #follow-babies p {
        padding: 0;
    }

    #follow-babies {
        padding: 3em 0;
    }
}

@media (max-width: 575px) {
    #follow-babies p {
        font-size: 18px !important;
    }

    #follow-babies {
        padding: 0;
    }
}

#follow-babies img,
#follow-babies video {
    width: 100%;
    height: auto;
    display: block;
    transition: all 200ms ease-out;
}

#follow-babies img:hover,
#follow-babies video:hover {
    transform: scale(1.04);
}

#follow-babies .circle {
    width: 70px;
    height: 70px;
    background: #fed0d1;
    border-radius: 50%;
}

#follow-babies .username {
    padding: initial;
    font-family: 'Happy Monkey';
}

#follow-babies .btn {
    background: #000;
    border: 1px solid #000;
    border-radius: 10px;
    width: 300px;
}
