.hazel-babies {
    font-family: 'Open Sans', sans-serif;
    color: #313033;
    /* 
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; */
}
