.shop {
    padding: 3em 0;
    border-bottom: 0.5px solid #d5b066;
}

.shop h1 {
    font-family: 'Happy Monkey';
    color: #d5b066;
}

.shop .new {
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.shop img {
    cursor: pointer;
    transition: 200ms;
    border-radius: 15px;
}

#shop-naledi .product__name,
#shop-naledi .product__price {
    font-weight: 400;
    font-size: 1.21rem;
    letter-spacing: 0.15em;
    color: #1d1b1b;
    /* white-space: nowrap; */
}

#shop-genesis .product__name,
#shop-genesis .product__price {
    font-weight: 400;
    font-size: 1.05rem;
    letter-spacing: 0.15em;
    color: #1d1b1b;
    white-space: nowrap;
}

@media (max-width: 767px) {
    #shop-naledi .product__name,
    #shop-naledi .product__price {
        font-size: 1rem;
        white-space: normal;
    }
}

#shop-naledi .shop-overlay,
#shop-genesis .shop-overlay {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    cursor: pointer;
    transition: 200ms;
    color: #fff;
    text-decoration: underline;
}

#shop-genesis .shop-overlay {
    padding: 1rem 0;
}
