#follow {
    padding: 5em 0;
}

@media (max-width: 575px) {
    #follow {
        padding: 0;
    }
}

#follow h2 {
    font-family: 'Happy Monkey';
    color: #40444b;
    font-weight: 900;
}

#follow img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 200ms ease-out;
}

#follow .username {
    font-family: 'Happy Monkey';
}

#follow img:hover {
    transform: scale(1.04);
}

#follow .circle {
    width: 70px;
    height: 70px;
    background: #886f68;
    border-radius: 50%;
}

#follow .btn {
    background: #886f68;
    border: 1px solid #886f68;
    border-radius: 10px;
    width: 300px;
}
