#cart-menu .cart-btn,
#cart-menu .cart__btn-empty:hover,
#cart-menu .cart__btn-checkout {
    background-color: #d4bc64;
    border-color: #d4bc64;
    font-size: 10px;
    letter-spacing: 0.2em;
    font-weight: 500;
}

#cart-menu table {
    table-layout: fixed;
}

#cart-menu td {
    width: 33%;
    padding: 2em 0;
}

#cart-menu .cart__btn-empty,
#cart-menu .cart__btn-checkout:hover {
    background-color: #7a4e29;
    border-color: #7a4e29;
    font-size: 10px;
    letter-spacing: 0.2em;
    font-weight: 500;
}

#cart-menu .cart__btn-checkout,
#cart-menu .cart__btn-empty {
    font-weight: 600;
    text-transform: uppercase;
}

#cart-menu .cart__btn-checkout {
    padding: 1.5em 3em;
    border-radius: 0;
}

#cart-menu .cart__btn-empty {
    padding: 1.5em 3em;
    border: none;
}

#cart-menu .cart-item1 {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-menu .cart-item__image1 {
    width: 45%;
    object-fit: cover;
}

#cart-menu .cart-item__details1 {
    width: 50%;
}

#cart-menu .cart-item__details-name1 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #5c5c5c;
}
#cart-menu .item-group1 {
    display: flex;
    margin-top: 1em;
}
#cart-menu .cart-item__details-qty1 {
    display: flex;
    margin-bottom: 0;
    border: 1px solid #dbdada;
    align-items: center;
    white-space: nowrap;
    font-size: 1rem;
}

#cart-menu .cart-item__details-qty1 button {
    border: none;
    background: none;
    font-size: 1.25rem;
}

#cart-menu .cart-item__details-qty1 button:disabled {
    color: initial;
}

#cart-menu .cart-item__details-qty1 p {
    margin-bottom: 0;
    margin-top: 3px;
    transition: 100ms;
}

#cart-menu .cart-item__details-price1 {
    font-size: 1rem;
    color: #191919;
}

#cart-menu .cart-item__remove1 {
    text-decoration: underline;
    font-size: 0.85rem;
    text-transform: uppercase;
    border: none;
    background-color: #fff;
    margin-left: auto;
    color: #191919;
}

@media (max-width: 352px) {
    #cart-menu .cart-item__remove1 {
        margin-left: 0;
    }
}

#cart-menu h1,
#checkout h4 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2em;
    color: #5c5c5c;
}

#cart-menu h1 .logo {
    color: #d4bc64;
    font-size: 30px;
}

#cart-menu .cart__empty h6 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: #5c5c5c;
}

#cart-menu .cart__none,
#cart-menu th {
    font-size: 15px;
    color: #191919;
}

#cart-menu tbody {
    border-color: #dbdada;
}

#cart-menu .offcanvas-title {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5c5c5c;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

#cart-menu .offcanvas-header {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #5c5c5c;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-bottom: 1px solid #dbdada;
}

#cart-menu .cart__footer {
    position: sticky;
    border-top: 1px solid #dbdada;
}

#cart-menu .cart-item {
    padding: 2em 0;
}

#cart-menu tbody tr {
    border-color: #fff;
}

#cart-menu .cart-item__image {
    width: 45%;
    object-fit: cover;
}

#cart-menu .cart-item__details {
    width: 50%;
}

#cart-menu .cart-item__details-name {
    font-size: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #5c5c5c;
}
#cart-menu .item-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23%;
}

#cart-menu .total-price {
    margin-top: 23%;
}

#cart-menu .total-price span {
    font-size: 14px;
}
#cart-menu .cart-item__details-qty {
    display: flex;
    margin-bottom: 0;
    border: 1px solid #dbdada;
    align-items: center;
    white-space: nowrap;
    font-size: 1rem;
}

#cart-menu .cart-item__details-qty button {
    border: none;
    background: none;
    font-size: 1.25rem;
}

#cart-menu .cart-item__details-qty button:disabled {
    color: initial;
}

#cart-menu .cart-item__details-qty p {
    margin-bottom: 0;
    margin-top: 3px;
    transition: 100ms;
}

#cart-menu .cart-item__details-price {
    font-size: 1rem;
    color: #191919;
}

#cart-menu .cart-item__details-price span {
    font-size: 14px;
}

#cart-menu .cart-item__remove {
    text-decoration: underline;
    font-size: 0.85rem;
    text-transform: uppercase;
    border: none;
    background-color: #fff;
    color: #191919;
}
